@model WebApplicationWHB.Models.OrderModel
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateTicket</title>
</head>
<style>
     

</style>
<body>

    @using (Html.BeginForm())
    {
        
        

    }
    <input type="submit" value="Sefer Görüntüle" class="btn btn-primary" />



</body>
    </html>








    @*<div class="item" style="top: 0px; left: 0px; width: 108.364px; height: 81.2727px;">
        

    </div>
    <div class="item" style="top: 94.8182px; left: 27.0909px; width: 54.1818px; height: 54.1818px;"></div>
    <div class="item" style="top: 149px; left: 27.0909px; width: 54.1818px; height: 54.1818px;"></div>
    <div class="item" style="top: 203.182px; left: 27.0909px; width: 54.1818px; height: 54.1818px;">  </div>
    <div class="item" style="top: 257.364px; left: 27.0909px; width: 54.1818px; height: 54.1818px;">   </div>
    <div class="item" style="top: 311.5458px; left: 27.0909px; width: 54.1818px; height: 54.1818px;"> </div>
    <div class="item" style="top: 365.7276px; left: 27.0909px; width: 54.1818px; height: 54.1818px;"></div>
    <div class="item" style="top: 419.9094px; left: 27.0909px; width: 54.1818px; height: 54.1818px;"></div>
    <div class="item" style="top: 474.0912px; left: 27.0909px; width: 54.1818px; height: 54.1818px;"></div>
    <div class="item" style="top: 528.273px; left: 27.0909px; width: 54.1818px; height: 54.1818px;"></div>
    <div class="item" style="top: 582.4548px; left: 27.0909px; width: 54.1818px; height: 54.1818px;"></div>



    <div class="item" style="top: 94.8182px; left: 176.091px; width: 54.1818px; height: 54.1818px;"></div>
    <div class="item" style="top: 149px; left: 176.091px; width: 54.1818px; height: 54.1818px;"></div>
    <div class="item" style="top: 203.182px; left: 176.091px; width: 54.1818px; height: 54.1818px;">  </div>
    <div class="item" style="top: 257.364px; left: 176.091px; width: 54.1818px; height: 54.1818px;">   </div>
    <div class="item" style="top: 311.5458px; left: 176.091px; width: 54.1818px; height: 54.1818px;"> </div>
    <div class="item" style="top: 365.7276px; left: 176.091px; width: 54.1818px; height: 54.1818px;"></div>
    <div class="item" style="top: 419.9094px; left: 176.091px;width: 54.1818px; height: 54.1818px;"></div>
    <div class="item" style="top: 474.0912px; left: 176.091px; width: 54.1818px; height: 54.1818px;"></div>
    <div class="item" style="top: 528.273px; left: 176.091px; width: 54.1818px; height: 54.1818px;"></div>
    <div class="item" style="top: 582.4548px; left: 176.091px; width: 54.1818px; height: 54.1818px;"></div>*@